a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #000;
    background-color:#fff;
    left: 0;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}



.nav{
    /*border:1px solid #ccc;
    border-width:1px 0;*/
    list-style:none;
    /*margin:0;*/
    padding:0;
    text-align:center;
}
.nav li{
    display:block;
    padding:0px;
}

li a {
  display: block;
  color: darkgrey;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}


li a:hover:not(.active) {
  background-color: black;
  color: #fff;
}

/*nav a{
    display:inline;
    padding:10px;
}*/

.row{
  flex-direction: column;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  padding:10px;
}

.column{
  flex:50%;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.column img{
  margin: 5px;
  vertical-align: middle;
  max-width: 97%;
}



@media only screen and (min-width: 700px) {
  .nav{
      /**border:1px solid #ccc;
      border-width:1px 0;**/
      /*width: 90%;*/
      list-style:none;
      /*margin:0;*/
      padding:0;
      text-align:center;
  }
  .nav li {
      display: inline-block;
  }

  li a.active {
    background-color: transparent;
    color: black;
  }

  li a:hover:not(.active) {
    background-color: transparent;
    color: black;
  }
  .row{
    flex-direction: row;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:10px;
  }

  .column{
    flex:50%;
    justify-content: center;
    max-width: 50%;
  }

  .column img{
    margin: 5px;
    vertical-align: middle;
    max-width: 97%;
  }
}

@media only screen and (min-width: 1200px) {
  h1{
    margin-inline-start: 55px;
    margin-block-start: 0.2em;
    float:left;
    color: #4A4A4A;
    margin-bottom: 5px;
    font: 300 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .nav li {
      display: inline-block;
  }
  .nav{
      /**border:1px solid #ccc;
      border-width:1px 0;**/
      list-style:none;
      /*margin:0;*/
      padding:0;
      text-align:right;
  }
  li a.active {
    background-color: transparent;
    color: black;
  }

  li a:hover:not(.active) {
    background-color: transparent;
    color: black;
  }
  .row{
    flex-direction: row;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:10px;
    }

  .column{
    flex:50%;
    justify-content: center;
    max-width: 50%;
  }

  .column img{
    margin: 5px;
    vertical-align: middle;
    max-width: 97%;
  }
}



img.resize {
  /*width: auto;
	height: auto;*/
	max-width: 600px;
	max-height: 300px;
}

img.resize2{
  width: 360px;
  height: 300px;
  /*max-width: 600px;
  max-height: 300px;*/
}
.content{
  width:80%;
  margin:50px;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  line-height: 1.2;
  vertical-align:baseline;
  background:transparent;
}
main,p {
  /*width:80%;*/
  /*margin:50px;*/
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  line-height: 1.2;
  vertical-align:baseline;
  background:transparent;
}

h1{
  text-align: center;
  color: #4A4A4A;
  margin-bottom: 5px;
  font: 300 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
  text-align: left;
  color: #fff;
  margin-bottom: 5px;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
  color: #fff;
  margin-bottom: 0px;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4{
  color: #888;
  margin-bottom: 0px;
  font: 300 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer{
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

section,title{

  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display:block;
  color: #4A4A4A;
  font: 300 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fa-music {
  font-size: 36px;
  color:#8E6FCB
}

.fa-coffee {
  font-size: 36px;
  color:#DB914E
}

.fa-dog {
  font-size: 36px;
  color:#B2D1DA
}

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
}

.btn-alt {

  border: 1px solid #8E6FCB;
  padding: 5% 30%;
  margin-bottom: 30px;
}

.background{
  width:100%;
  padding:80px;
  height:150px;
  text-align:left;
  background-image: url("../images/parddy_homepage.png");
  background-repeat: no-repeat;
  color:white;
  background-size:auto;
  /*background-position: 20px 10px;*/
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: white;
}


.flex-container > div {
  background-color: white;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height:40px;
}



.process{
  text-align:left;
}
