a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #000;
    background-color:#fff;
    left: 0;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}



.nav{
    /*border:1px solid #ccc;
    border-width:1px 0;*/
    list-style:none;
    /*margin:0;*/
    padding:0;
    text-align:center;
}
.nav li{
    display:block;
    padding:0px;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}


li a:hover:not(.active) {
  background-color: black;
  color: #fff;
}

/*nav a{
    display:inline;
    padding:10px;
}*/

.row{
  overflow:hidden;
  flex-direction: column;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  padding:10px;
}


.filterDiv {
  float:left;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
/* Style the buttons */
.btn {
  border: none;
  /*outline: none;*/
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.show {
  display: block;
}

.column{
  flex:50%;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.column img{
  margin: 5px;
  vertical-align: middle;
  max-width: 97%;
}


img.resize {
  /*width: auto;
	height: auto;*/
	max-width: 600px;
	max-height: 300px;
}

img.resize2{
  width: 360px;
  height: 300px;
  /*max-width: 600px;
  max-height: 300px;*/
}
.content{
  width:80%;
  margin:50px;
  padding:0;
  border:0;
/*  outline:0;*/
  font-size:100%;
  line-height: 1.2;
  vertical-align:baseline;
  background:transparent;
}
main,p {
  /*width:80%;*/
  /*margin:0 auto;*/
  padding:0;
  border:0;
  /*outline:0;*/
  font-size:100%;
  line-height: 1.2;
  vertical-align:baseline;
  background:transparent;
}

h1{
  text-align: center;
  color: #4A4A4A;
  margin-bottom: 5px;
  font: 300 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
  text-align: left;
  color: black;
  margin-bottom: 5px;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3{
  color: black;
  margin-bottom: 40px;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4{
  color: ##6c45bc;
  margin-bottom: 0px;
  font: 300 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer{
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

section,title{

  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display:block;
  color: #4A4A4A;
  font: 300 16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fa-music {
  font-size: 36px;
  color:#7c59c3;
}

.fa-coffee {
  font-size: 36px;
  color:#DB914E
}

.fa-dog {
  font-size: 36px;
  color:#B2D1DA
}

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
}

.btn-alt {

  border: 1px solid #7c59c3;
  padding: 5% 30%;
  margin-bottom: 30px;
}

.background{

  background-position: center;
  height:50%;
  padding:80px;
  height:100100%;
  text-align:left;
  background-image: url("../images/homepage.png");
  background-size: contain;
  background-repeat: no-repeat;
  color:white;
  /*background-position: 20px 10px;*/
}


.finding{
  width:100%;
  height:100%;
  padding:80px;
  text-align:left;
  background-image: url("../images/finding.png");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}

.solution{
  width:100%;
  height:100%;
  padding:80px;
  text-align:left;
  background-image: url("../images/solution.png");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}


.flex-container > div {
  background-color: white;
  width: 100%;
  margin: 5px;
  padding: 10px;
  text-align: center;
  line-height:40px;
}



.process{
  text-align:left;
}

.callout {
  position: fixed;
  bottom: 50px;
  right: 30px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 10px 15px;
  background: #7c59c3;
  font-size: 24px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #7c59c3;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.aboutcontainer {
    border: 3px solid #7c59c3;
    /*box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);*/
    padding: 20px 40px 40px;
    max-width: 640px;
}

.aboutcontainer_introduction {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

.aboutcontainer_image{
      display: flex;
      justify-content: center;
      vertical-align: top;
      width: 20%;
      margin: auto;
    }

.abouttitle{
  display: inline-block;

}

a.resume{
  display:flex;
  padding:0.3em 1.2em;
  width:100px;
  margin:auto;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#7c59c3;
  text-align:center;
  transition: all 0.2s;
}

a.resume:hover{
  background-color:#4095c6;
}

@media all and (max-width:30em){
 a.resume{
  display:block;
  margin:0.2em auto;
 }
}






@media only screen and (min-width: 700px) {

  .background{
    background-attachment: fixed;
    background-position: center;
    height:100%;
    padding:80px;
    height:600px;
    text-align:left;
    background-image: url("../images/homepage.png");
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
    /*background-position: 20px 10px;*/
  }


  .finding{
    width:100%;
    height:100%;
    padding:80px;
    background-attachment: fixed;
    height:600px;
    text-align:left;
    background-image: url("../images/finding.png");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    background-position: -200px 0px;
  }

  .solution{
    width:100%;
    height:100%;
    padding:80px;
    height:600px;
    text-align:left;
    background-image: url("../images/solution.png");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
  }

  .nav{
      /**border:1px solid #ccc;
      border-width:1px 0;**/
      /*width: 90%;*/
      display:block;
      background-color: white;
      list-style:none;
      margin:0;
      padding:10px;
      text-align:center;
  }
  .nav li {
      display: inline-block;
  }

  li a.active {
    background-color: transparent;
    color: #6c45bc;
  }

  li a:hover:not(.active) {
    background-color: transparent;
    color: #6c45bc;
  }
  .row{
    overflow: hidden;
    flex-direction: row;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:10px;
  }

  .column{
    flex:50%;
    overflow: hidden;
    justify-content: center;
    max-width: 50%;
  }

  .column img{
    margin: 5px;
    vertical-align: middle;
    max-width: 97%;
  }

  .aboutcontainer_introduction {
          display: inline-block;
          width: 60%;
      }

  .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
      }


      .aboutcontainer_image{
            display: inline-block;
            vertical-align: top;
            width: 20%;
            margin: 20px 30px 0 0;
          }

    .abouttitle{
            display: inline-block;
            text-align: left;
            width: 100%;
          }
    .typing {
            position: relative;
            line-height: 24px;
            display: flex;
            margin: auto;
            font-size: 24pt;
            color: black;
            min-width: 1px;
            min-height: 24px;
          }
/*sticky memu*/
    .fixed-nav nav {
  display:inline-block;
  box-shadow: 0 1em 10px rgba(0, 0, 0, 0.1);
  width:100%;
  position: fixed;
  top:0;
  z-index: 2;
}
    .content {
      padding: 16px;
          }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
          }

    .sticky + .content {
            padding-top: 60px;
          }

    .topnav #myLinks {
            display: inline-block;
          }

}


@media only screen and (min-width: 1200px) {
  h1{
    margin-inline-start: 55px;
    margin-block-start: 0.2em;
    float:left;
    color: #4A4A4A;
    margin-bottom: 5px;
    font: 300 24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .nav li {
      display: inline-block;
  }
  .nav{
      /**border:1px solid #ccc;
      border-width:1px 0;**/
      list-style:none;
      /*margin:0;*/
      padding:0;
      text-align:right;
  }
  li a.active {
    background-color: transparent;
    color: black;
  }

  li a:hover:not(.active) {
    background-color: transparent;
    color: black;
  }
  .row{
    flex-direction: row;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:10px;
    }

  .column{
    flex:50%;
    justify-content: center;
    max-width: 50%;
  }

  .column img{
    margin: 5px;
    vertical-align: middle;
    max-width: 97%;
  }

  .aboutcontainer_introduction {
    display: inline-block;
    width: 60%;
      }


}

.iconword{
  width:80%;
  margin:auto;
}

/*Accordian CSS*/

.accordionWrapper{
  display:flex;
  flex-direction: column;
  padding:30px;
  background:#fff;
  width:80%;
  box-sizing:border-box;
  margin:auto;
}

.accordionItem{
    float:left;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
}

.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 1px 0px;
    padding:10px;
    background:#7c59c3;
    color:#fff;
    width:100%;
    border:1px solid lightgrey;
    border-radius: 3px;
    box-shadow: 0 1em 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;


}
.open .accordionItemContent{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
	  transform: scaleY(1);
	  transform-origin: top;
	  transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #D7C8F3;
    color: black;
}

.item{
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.border-i{
  border: 0px solid #ddd;
  border-bottom-width:1px;
}

/*typewriter*/
.typing {
  position: relative;
  line-height: 24px;
  margin: auto;
  font-size: 24pt;
  color: black;
  min-width: 1px;
  min-height: 24px;
}
.typing:after {
  content: "";
  position: absolute;
  top: 5%;
  right: -2px;
  width: 1px;
  height: 90%;
  border-right: 2px solid #FFF;
  animation: blink 100s infinite ease;
      }






      .player {
        width:80%;
        margin:auto;
        max-width: 800px;
        border: 6px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
      }

        .player:hover {
          .progress {
            height: 10px;
          }

          .player-controls {
            transform: translateY(0);
          }
        }


      .player:-webkit-full-screen,
      .player:fullscreen {
        max-width: none;
        width: 100%;
      }

      .play-btn {
        flex: 1;
      }

      .player-video {
        width: 100%;
        display: block;
      }

      .player-btn {
        background: none;
        border: 0;
        color: white;
        text-align: center;
        max-width: 60px;
        padding: 5px 8px;
}
        .svg {
          fill: #FFFFFF;
        }

        svg:hover,
        svg:focus {
          border-color: #FFEC41;
          background: rgba(255, 255, 255, .2);
        }


      .player-slider {
        width: 10px;
        height: 30px;
      }

      .player-controls {
        align-items: center;
        display: flex;
        position: relative;
        bottom: 40px;
        width: 100%;
        transform: translateY(100%) translateY(-5px);
        transition: all 0.3s;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.9);
      }

      .player-controls > * {
        flex: 1;
      }

      .progress {
        position: relative;
        display: flex;
        flex: 10;
        flex-basis: 100%;
        height: 4px;
        transition: height 0.3s;
        background: rgba(0, 0, 0, 0.5);
      }

      .filled-progress {
        width: 50%;
        background-color: red;
        flex: 0;
        flex-basis: 50%;
      }

      .sliders {
        max-width: 200px;
        display: flex;
      }

      input[type=range] {
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
        margin: 0 5px;
      }

      input[type=range]:focus {
       outline: none;
      }

      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        border: 0.2px solid rgba(1, 1, 1, 0);
      }

      input[type=range]::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: white;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      }

      input[type=range]:focus::-webkit-slider-runnable-track {
        background: rgba(255, 255, 255, 0.8);
      }

      input[type=range]::-moz-range-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        background: #ffffff;
        border-radius: 10px;
        border: 0.2px solid rgba(1, 1, 1, 0);
      }

      input[type=range]::-moz-range-thumb {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background: white;
        cursor: pointer;
      }
.movie{
  margin: auto;
  width: 80%;

}

.foot{
  margin-top:30px;
}



/*slides*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.slidecontainer {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: lightgrey;
  padding: 2px 16px;
  color: black;
}

.sliderow:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.slidecolumn {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
